In [1]:
import pandas as pd

In [2]:
users = pd.DataFrame([['Ann', 'annaw'],
             ['Bob', 'bob12'],
             ['Claire', 'cclar'],
             ['Dick', 'dick1984']])

In [4]:
users.columns = ['name', 'address'] 
users

     name   address
0     Ann     annaw
1     Bob     bob12
2  Claire     cclar
3    Dick  dick1984

In [5]:
def add_email(x):
    res = x + '@gmail.com'
    return res

In [6]:
users['email'] = users['address'].apply(add_email)

In [8]:
users['email'] = users['address'].apply(lambda x: x + '@gmail.com')