# Programming and Data Analysis (Python)

*Alla Tambovtseva, NRU HSE*

*This notebook is partly based on the [lecture](http://python.math-hse.info:8080/github/ischurov/pythonhse/blob/master/Lecture%201.ipynb) by I.V.Schurov, [course](http://math-info.hse.ru/s15/m) "Programming in Python for data collection and data analysis (NRU HSE)".*

## Variable types and type conversion

Variable types (do not confuse with *data types* and *data scales*):

* float (e.g. 3.45 or 7.8);
* integer (e.g. 6 or -1);
* string (e.g. "word", "python");
* boolean (values `True` and `False`).

Let's look how to know the type of a variable in Python:

In [1]:
x = 2.34
type(x)  # function type

float

In [2]:
y = 2
type(y)

int

In [3]:
r = 'hello'
type(r)

str

In [4]:
l = True
type(l)

bool

Sometimes we have to change the type of a variable, for example, from a float number we should get an integer. Why do we need so? For convenience and for correct output of results.

In [5]:
int(25.0) # int - to integer

25

In general, names of functions for type conversion coincide with the shortened names of types themselves.

In [6]:
float(23)

23.0

In [7]:
str(2) # str - from string

'2'

In [8]:
int("23")  # int - from integer

23

However, if conversion is impossible, Python will return an error (to be more precise, an exeption `ValueError`, we will discuss exceptions later):

In [9]:
float('23,56')

ValueError: could not convert string to float: '23,56'

As a comma (`,`) is not recognized by Python as a correct decimal separator (a point `.` is usually used), it is not possible to convert a string `"23,56"` to a number. Just because we cannot make a number from text.

## Input and output

### Input from the keyboard

Sometimes we have to ask a user for some information, so ask him to enter something from the keyboard. It can be useful, for example, when we try to imitate filling a form, take some information and process it.

We can ask a user for information using the function `input()`:

In [10]:
input("Enter something: ")

Enter something: one

'one'

However, often we not only ask for information, but we want to save it. Let's do it and save user's input to a variable:

In [11]:
num = input("Enter a number: ")

Enter a number: 5

Now we can work with the variable `num` where the value `"5"` is stored.

In [12]:
num

'5'

The value `"5"` is saved. However, if we take a closer look, we will see that it is not a proper number. It is a string! So, it is just a text. Let's check:

In [13]:
type(num) # yes, string

str

Here we need type conversion:

In [14]:
num = int(num)
num

5

And now all these operations in one chunk:

In [15]:
num = int(input("Enter a number: "))
num

Enter a number: 5

5

A number should not necessarily be integer, it can be float. Let's take it into account:

In [16]:
num = float(input("Enter a number: "))
num

Enter a number: 7

7.0

### Printing information on the screen

As we already know, in Python we have the function `print()`:

In [17]:
print(5)
print('Hello!')

5
Hello!

If we want to print several objects in one line, we can list them inside `print()`:

In [18]:
age = 23
print('Your age is ', age)

Your age is  23

By default objects printed via `print()` are separated by a space. However, we can change it by specifying the argument `sep` (*sep* from *separator*):

In [19]:
print(2, 3, sep='-')

2-3

In [20]:
print(2, 3, sep='------')

2------3